/* fonts */
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.woff2") format("woff2"),
    url("../fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Oswald&display=swap");

html,
body,
#root {
  min-height: 100% !important;
  height: 100%;
}

#root {
  font-family: Quicksand, Oswald, Mulish;
}

.simple-font {
  font-family: Oswald;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111827;
  border: 1px solid #172035;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d2942;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #233150;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--theme-1);
  border: 1px solid var(--theme-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-4);
}
