@tailwind base;
@tailwind components;

.drop-down {
  @apply absolute;
}

.default-theme {
  --primary: rgb(31, 41, 55);
  --secondary: rgb(31, 41, 55);
  --tertiary: rgb(55, 65, 81);
}

.anime-theme {
  --primary: #150017;
  --secondary: #210024;
  --tertiary: #320138;
}

.serials-theme {
  --primary: #170d00;
  --secondary: #241900;
  --tertiary: #382501;
}

.movies-theme {
  --primary: #001708;
  --secondary: #00240c;
  --tertiary: #01380c;
}

@tailwind utilities;
