@tailwind base;
@tailwind components;

.drop-down {
  @apply absolute;
}

.default-theme {
  --primary: rgb(31, 41, 55);
  --secondary: rgb(31, 41, 55);
  --tertiary: rgb(55, 65, 81);
}

.anime-theme {
  --primary: #150017;
  --secondary: #210024;
  --tertiary: #320138;
}

.serials-theme {
  --primary: #190903;
  --secondary: #331107;
  --tertiary: #3f160a;
}

.movies-theme {
  --primary: #004857;
  --secondary: #004d5a;
  --tertiary: #006b70;
}

.btn {
  @apply text-center cursor-pointer focus:outline-none font-bold py-2 px-4 rounded border-2 
  bg-tertiary border-primary hover:brightness-125 active:brightness-150 filter brightness-110;
}

.ring-error {
  @apply ring-4 ring-red-500 ring-opacity-30;
}

.input-container {
  @apply w-full relative pb-2 pt-6 px-3 border-b-2 bg-gray-200 border-gray-300;
}

.input-label {
  @apply absolute opacity-70 text-sm left-3 top-1 select-none;
}

.input-error {
  @apply mt-1 text-left text-sm text-red-500;
}

.input-container-error {
  @apply ring-error mb-4;
}

.input-text {
  @apply outline-none w-full bg-transparent;
}

.input-radio {
  @apply m-1;
}

.input-multi-options {
  @apply flex flex-row flex-wrap items-center;
}

.option {
  @apply p-1 mb-1 cursor-pointer border-2 border-gray-400 rounded-lg;
}

.option-inline {
  @apply py-1 px-2 my-1 mr-2 cursor-pointer border-2 border-gray-400 rounded-lg;
}

.option-selected {
  @apply bg-emerald-500 bg-opacity-40;
}

.option-dropdown-container {
  @apply absolute rounded-sm shadow-md border
  bg-secondary border-tertiary origin-top
  transform scale-0 duration-300 ease-in-out group-hover:scale-100;
}

.option-dropdown-item {
  @apply hover:bg-tertiary;
}

.dropdown-container {
  @apply flex flex-col absolute origin-top hover-up bg-primary;
}

.dropdown-item {
  @apply flex flex-row hover:text-purple-800 hover:bg-gray-300 active:bg-gray-500;
}

.action-icon {
  @apply cursor-pointer transform ease-in-out duration-300 hover:text-purple-700;
}

.hover-up {
  @apply transform scale-0 duration-300 ease-in-out group-hover:scale-100;
}

.wiggling-clickable {
  @apply transform opacity-10 group-hover:opacity-100 hover:animate-wiggle cursor-pointer hover:text-emerald-300 transition ease-in duration-150;
}

@tailwind utilities;
